<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="ar_ros2_control" params="
    name
    plugin_name
    serial_port
    calibrate
    joint_offset_parameters_file
  ">

      <!-- 定義角度轉弧度常數 -->
    <xacro:property name="deg_to_rad" value="${pi / 180}" />

    <!-- 各關節的 position limits（單位：弧度） -->
    <xacro:property name="j1_min" value="${-170 * deg_to_rad}" />
    <xacro:property name="j1_max" value="${ 170 * deg_to_rad}" />

    <xacro:property name="j2_min" value="${-42 * deg_to_rad}" />
    <xacro:property name="j2_max" value="${ 90 * deg_to_rad}" />

    <xacro:property name="j3_min" value="${-89 * deg_to_rad}" />
    <xacro:property name="j3_max" value="${ 52 * deg_to_rad}" />

    <xacro:property name="j4_min" value="${-165 * deg_to_rad}" />
    <xacro:property name="j4_max" value="${ 165 * deg_to_rad}" />

    <xacro:property name="j5_min" value="${-105 * deg_to_rad}" />
    <xacro:property name="j5_max" value="${ 105 * deg_to_rad}" />

    <xacro:property name="j6_min" value="${-155 * deg_to_rad}" />
    <xacro:property name="j6_max" value="${ 155 * deg_to_rad}" />
    <!-- ====================================================== -->

    <xacro:property name="joint_offset_parameters"
      value="${xacro.load_yaml(joint_offset_parameters_file)}"/>
    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>${plugin_name}</plugin>
        <param name="serial_port">${serial_port}</param>
        <param name="calibrate">${calibrate}</param>
      </hardware>
      <joint name="joint_1">
        <command_interface name="position">
          <param name="min">${j1_min}</param>
          <param name="max">${j1_max}</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <param name="position_offset">${joint_offset_parameters['joint_1']}</param>
      </joint>
      <joint name="joint_2">
        <command_interface name="position">
          <param name="min">${j2_min}</param>
          <param name="max">${j2_max}</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <param name="position_offset">${joint_offset_parameters['joint_2']}</param>
      </joint>
      <joint name="joint_3">
        <command_interface name="position">
          <param name="min">${j3_min}</param>
          <param name="max">${j3_max}</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <param name="position_offset">${joint_offset_parameters['joint_3']}</param>
      </joint>
      <joint name="joint_4">
        <command_interface name="position">
          <param name="min">${j4_min}</param>
          <param name="max">${j4_max}</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <param name="position_offset">${joint_offset_parameters['joint_4']}</param>
      </joint>
      <joint name="joint_5">
        <command_interface name="position">
          <param name="min">${j5_min}</param>
          <param name="max">${j5_max}</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <param name="position_offset">${joint_offset_parameters['joint_5']}</param>
      </joint>
      <joint name="joint_6">
        <command_interface name="position">
          <param name="min">${j6_min}</param>
          <param name="max">${j6_max}</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <param name="position_offset">${joint_offset_parameters['joint_6']}</param>
      </joint>
    </ros2_control>
  </xacro:macro>
</robot>
