<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="ar_gripper_ros2_control" params="
    name
    plugin_name
    serial_port
    calibrate
    joint_offset_parameters_file
  ">


    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>${plugin_name}</plugin>
        <param name="serial_port">${serial_port}</param>
        <param name="calibrate">${calibrate}</param>
        <param name="gpio_pin">14</param>
      </hardware>
      <joint name="grip_to_base1">
        <command_interface name="position" />
        <state_interface name="position" />
        <state_interface name="velocity"/>
      </joint>
      <joint name="grip_to_base2">
        <state_interface name="position" />
        <state_interface name="velocity"/>
      </joint>
      <joint name="grip_to_base3">
        <state_interface name="position" />
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>
  </xacro:macro>
</robot>
