<?xml version="1.0"?>
<robot name="ar4" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- base model -->
  <xacro:include filename="$(find ar4_description)/urdf/ar4_in_world.urdf.xacro" />

  <!-- gazebo extensions -->
  <xacro:include filename="$(find ar4_gazebo_sim)/urdf/includes/gazebo.xacro" />

  <!-- ros2_control extensions -->
  <xacro:include filename="$(find ar4_gazebo_sim)/urdf/includes/ar4.ros2_control.xacro" />

  <xacro:arg name="initial_positions_file" default="$(find ar4_moveit_config)/config/initial_positions.yaml" />

  <xacro:ar4_ros2_control name="ar4" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
