<?xml version="1.0"?>
<robot name="ar4" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="base_link">
        <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="link_1">
        <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="link_2">
        <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="link_3">
        <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="link_4">
        <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="link_5">
        <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="link_6">
        <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo>
        <plugin filename="libgz_ros2_control-system.so"
            name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find ar4_moveit_config)/config/ros2_controllers.yaml</parameters>
        </plugin>
        
    </gazebo>

</robot>
