<?xml version="1.0"?>
<robot name="ar4" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="base_link">
        <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="link_1">
        <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="link_2">
        <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="link_3">
        <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="link_4">
        <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="link_5">
        <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="link_6">
        <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo>
        <plugin filename="libgz_ros2_control-system.so"
            name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find ar4_moveit_config)/config/ros2_controllers.yaml</parameters>
        </plugin>
        
    </gazebo>

    <gazebo reference="depth_camera">

      <sensor name="depth_camera" type="rgbd_camera">
        <update_rate>20</update_rate>
        <topic>depth_camera</topic>
        <gz_frame_id>depth_camera</gz_frame_id>
        <always_on>true</always_on>
        <visualize>true</visualize>
        <camera>
          <horizontal_fov>1.047</horizontal_fov>

          <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.05</near>
            <far>10.0</far>
          </clip>
        </camera>
      </sensor>
    </gazebo>

</robot>
